In [1]:
import pandas as pd #Importing libraries

In [2]:
d = pd.read_csv("melb_data.csv")  #Reading Csv file
df = pd.DataFrame(d)

In [3]:
for column in df:
    print(column,":\n",df[column].describe(),end = "\n\n")

Suburb :
 count         13580
unique          314
top       Reservoir
freq            359
Name: Suburb, dtype: object

Address :
 count                13580
unique               13378
top       36 Aberfeldie St
freq                     3
Name: Address, dtype: object

Rooms :
 count    13580.000000
mean         2.937997
std          0.955748
min          1.000000
25%          2.000000
50%          3.000000
75%          3.000000
max         10.000000
Name: Rooms, dtype: float64

Type :
 count     13580
unique        3
top           h
freq       9449
Name: Type, dtype: object

Price :
 count    1.358000e+04
mean     1.075684e+06
std      6.393107e+05
min      8.500000e+04
25%      6.500000e+05
50%      9.030000e+05
75%      1.330000e+06
max      9.000000e+06
Name: Price, dtype: float64

Method :
 count     13580
unique        5
top           S
freq       9022
Name: Method, dtype: object

SellerG :
 count      13580
unique       268
top       Nelson
freq        1565
Name: SellerG, dtype: object

Date :
 count          13580
unique            58
top       27/05/2017
freq             473
Name: Date, dtype: object

Distance :
 count    13580.000000
mean        10.137776
std          5.868725
min          0.000000
25%          6.100000
50%          9.200000
75%         13.000000
max         48.100000
Name: Distance, dtype: float64

Postcode :
 count    13580.000000
mean      3105.301915
std         90.676964
min       3000.000000
25%       3044.000000
50%       3084.000000
75%       3148.000000
max       3977.000000
Name: Postcode, dtype: float64

Bedroom2 :
 count    13580.000000
mean         2.914728
std          0.965921
min          0.000000
25%          2.000000
50%          3.000000
75%          3.000000
max         20.000000
Name: Bedroom2, dtype: float64

Bathroom :
 count    13580.000000
mean         1.534242
std          0.691712
min          0.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          8.000000
Name: Bathroom, dtype: float64

Car :
 count    13518.000000
mean         1.610075
std          0.962634
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max         10.000000
Name: Car, dtype: float64

Landsize :
 count     13580.000000
mean        558.416127
std        3990.669241
min           0.000000
25%         177.000000
50%         440.000000
75%         651.000000
max      433014.000000
Name: Landsize, dtype: float64

BuildingArea :
 count     7130.000000
mean       151.967650
std        541.014538
min          0.000000
25%         93.000000
50%        126.000000
75%        174.000000
max      44515.000000
Name: BuildingArea, dtype: float64

YearBuilt :
 count    8205.000000
mean     1964.684217
std        37.273762
min      1196.000000
25%      1940.000000
50%      1970.000000
75%      1999.000000
max      2018.000000
Name: YearBuilt, dtype: float64

CouncilArea :
 count        12211
unique          33
top       Moreland
freq          1163
Name: CouncilArea, dtype: object

Lattitude :
 count    13580.000000
mean       -37.809203
std          0.079260
min        -38.182550
25%        -37.856822
50%        -37.802355
75%        -37.756400
max        -37.408530
Name: Lattitude, dtype: float64

Longtitude :
 count    13580.000000
mean       144.995216
std          0.103916
min        144.431810
25%        144.929600
50%        145.000100
75%        145.058305
max        145.526350
Name: Longtitude, dtype: float64

Regionname :
 count                     13580
unique                        8
top       Southern Metropolitan
freq                       4695
Name: Regionname, dtype: object

Propertycount :
 count    13580.000000
mean      7454.417378
std       4378.581772
min        249.000000
25%       4380.000000
50%       6555.000000
75%      10331.000000
max      21650.000000
Name: Propertycount, dtype: float64

In [4]:
print("No of Dimensions",df.ndim)
print("Shape",df.shape) # Dimentionality
print("Size",df.size) #Number of elements in Dataset

No of Dimensions 2
Shape (13580, 21)
Size 285180

In [5]:
for column in df:
    print(column," : ",any(df[column].isna())) #detects any missing value

Suburb  :  False
Address  :  False
Rooms  :  False
Type  :  False
Price  :  False
Method  :  False
SellerG  :  False
Date  :  False
Distance  :  False
Postcode  :  False
Bedroom2  :  False
Bathroom  :  False
Car  :  True
Landsize  :  False
BuildingArea  :  True
YearBuilt  :  True
CouncilArea  :  True
Lattitude  :  False
Longtitude  :  False
Regionname  :  False
Propertycount  :  False

In [6]:
print("*Types of variables in dataframe*")

print(df.dtypes)

*Types of variables in dataframe*
Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [7]:
print("*Fill Missing values with 0*")
for col in df:
    if df[col].dtype!=object:
        df[col].fillna(df[col].mean(),inplace = True)
    else:
        df[col].fillna(df[col].mode()[0],inplace = True)

print("\n*Checking if there is any missing value after above operation*")
for column in df:
    print(column," : ",any(df[column].isna()))

*Fill Missing values with 0*

*Checking if there is any missing value after above operation*
Suburb  :  False
Address  :  False
Rooms  :  False
Type  :  False
Price  :  False
Method  :  False
SellerG  :  False
Date  :  False
Distance  :  False
Postcode  :  False
Bedroom2  :  False
Bathroom  :  False
Car  :  False
Landsize  :  False
BuildingArea  :  False
YearBuilt  :  False
CouncilArea  :  False
Lattitude  :  False
Longtitude  :  False
Regionname  :  False
Propertycount  :  False

In [8]:
#Data normalization and Data Formatting
from sklearn.preprocessing import MinMaxScaler
import numpy as np
scaler=MinMaxScaler()
for col in df:
    if df[col].dtype!=object:
        df[col] = scaler.fit_transform(np.array(df[col]).reshape(-1, 1))

print(df)

              Suburb           Address     Rooms Type     Price Method  \
0         Abbotsford      85 Turner St  0.111111    h  0.156478      S
1         Abbotsford   25 Bloomburg St  0.111111    h  0.106562      S
2         Abbotsford      5 Charles St  0.222222    h  0.154795     SP
3         Abbotsford  40 Federation La  0.222222    h  0.085810     PI
4         Abbotsford       55a Park St  0.333333    h  0.169938     VB
...              ...               ...       ...  ...       ...    ...
13575  Wheelers Hill      12 Strada Cr  0.333333    h  0.130118      S
13576   Williamstown     77 Merrett Dr  0.222222    h  0.106113     SP
13577   Williamstown       83 Power St  0.222222    h  0.121705      S
13578   Williamstown      96 Verdon St  0.333333    h  0.270892     PI
13579     Yarraville        6 Agnes St  0.333333    h  0.134605     SP

        SellerG        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  \
0        Biggin   3/12/2016  0.051975  0.068577  ...     0.125  0.1  0.000466
1        Biggin   4/02/2016  0.051975  0.068577  ...     0.125  0.0  0.000360
2        Biggin   4/03/2017  0.051975  0.068577  ...     0.250  0.0  0.000309
3        Biggin   4/03/2017  0.051975  0.068577  ...     0.250  0.1  0.000217
4        Nelson   4/06/2016  0.051975  0.068577  ...     0.125  0.2  0.000277
...         ...         ...       ...       ...  ...       ...  ...       ...
13575     Barry  26/08/2017  0.347193  0.153531  ...     0.250  0.2  0.001506
13576  Williams  26/08/2017  0.141372  0.016377  ...     0.250  0.2  0.000769
13577     Raine  26/08/2017  0.141372  0.016377  ...     0.250  0.4  0.001007
13578   Sweeney  26/08/2017  0.141372  0.016377  ...     0.125  0.5  0.002000
13579   Village  26/08/2017  0.130977  0.013306  ...     0.125  0.1  0.000836

       BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
0          0.003414   0.935139        Yarra  0.494755    0.517651
1          0.001775   0.856448        Yarra  0.484031    0.513083
2          0.003370   0.856448        Yarra  0.482223    0.513997
3          0.003414   0.935139        Yarra  0.498243    0.516281
4          0.003190   0.995134        Yarra  0.484936    0.513723
...             ...        ...          ...       ...         ...
13575      0.003414   0.954988     Moreland  0.357781    0.672246
13576      0.002988   0.972019     Moreland  0.417664    0.408601
13577      0.003414   0.974453     Moreland  0.426100    0.416221
13578      0.003527   0.880779     Moreland  0.417909    0.421346
13579      0.002516   0.880779     Moreland  0.478889    0.413580

                       Regionname Propertycount
0           Northern Metropolitan      0.176160
1           Northern Metropolitan      0.176160
2           Northern Metropolitan      0.176160
3           Northern Metropolitan      0.176160
4           Northern Metropolitan      0.176160
...                           ...           ...
13575  South-Eastern Metropolitan      0.333769
13576        Western Metropolitan      0.286482
13577        Western Metropolitan      0.286482
13578        Western Metropolitan      0.286482
13579        Western Metropolitan      0.294098

[13580 rows x 21 columns]

In [9]:
print("*Converting Categorical to Quantitative*")
df = pd.get_dummies(df, columns=['Type','Method'])
print(df)

*Converting Categorical to Quantitative*
              Suburb           Address     Rooms     Price   SellerG  \
0         Abbotsford      85 Turner St  0.111111  0.156478    Biggin
1         Abbotsford   25 Bloomburg St  0.111111  0.106562    Biggin
2         Abbotsford      5 Charles St  0.222222  0.154795    Biggin
3         Abbotsford  40 Federation La  0.222222  0.085810    Biggin
4         Abbotsford       55a Park St  0.333333  0.169938    Nelson
...              ...               ...       ...       ...       ...
13575  Wheelers Hill      12 Strada Cr  0.333333  0.130118     Barry
13576   Williamstown     77 Merrett Dr  0.222222  0.106113  Williams
13577   Williamstown       83 Power St  0.222222  0.121705     Raine
13578   Williamstown      96 Verdon St  0.333333  0.270892   Sweeney
13579     Yarraville        6 Agnes St  0.333333  0.134605   Village

             Date  Distance  Postcode  Bedroom2  Bathroom  ...  \
0       3/12/2016  0.051975  0.068577      0.10     0.125  ...
1       4/02/2016  0.051975  0.068577      0.10     0.125  ...
2       4/03/2017  0.051975  0.068577      0.15     0.250  ...
3       4/03/2017  0.051975  0.068577      0.15     0.250  ...
4       4/06/2016  0.051975  0.068577      0.15     0.125  ...
...           ...       ...       ...       ...       ...  ...
13575  26/08/2017  0.347193  0.153531      0.20     0.250  ...
13576  26/08/2017  0.141372  0.016377      0.15     0.250  ...
13577  26/08/2017  0.141372  0.016377      0.15     0.250  ...
13578  26/08/2017  0.141372  0.016377      0.20     0.125  ...
13579  26/08/2017  0.130977  0.013306      0.20     0.125  ...

                       Regionname  Propertycount  Type_h  Type_t Type_u  \
0           Northern Metropolitan       0.176160       1       0      0
1           Northern Metropolitan       0.176160       1       0      0
2           Northern Metropolitan       0.176160       1       0      0
3           Northern Metropolitan       0.176160       1       0      0
4           Northern Metropolitan       0.176160       1       0      0
...                           ...            ...     ...     ...    ...
13575  South-Eastern Metropolitan       0.333769       1       0      0
13576        Western Metropolitan       0.286482       1       0      0
13577        Western Metropolitan       0.286482       1       0      0
13578        Western Metropolitan       0.286482       1       0      0
13579        Western Metropolitan       0.294098       1       0      0

       Method_PI  Method_S Method_SA  Method_SP  Method_VB
0              0         1         0          0          0
1              0         1         0          0          0
2              0         0         0          1          0
3              1         0         0          0          0
4              0         0         0          0          1
...          ...       ...       ...        ...        ...
13575          0         1         0          0          0
13576          0         0         0          1          0
13577          0         1         0          0          0
13578          1         0         0          0          0
13579          0         0         0          1          0

[13580 rows x 27 columns]

In [10]:
# Write to a file
print("\n* Writing to a file *")
df.to_csv('output.csv')
print("*Saved*")

* Writing to a file *
*Saved*