Data Wrangling, I
Perform the following operations using Python on any open source dataset (e.g., data.csv)
1. Import all the required Python Libraries.
2. Locate an open source data from the web (e.g. https://www.kaggle.com). Provide a clear
description of the data and its source (i.e., URL of the web site).
3. Load the Dataset into pandas data frame.
4. Data Preprocessing: check for missing values in the data using pandas insult(), describe()
function to get some initial statistics. Provide variable descriptions. Types of variables etc.
Check the dimensions of the data frame.
5. Data Formatting and Data Normalization: Summarize the types of variables by checking
the data types (i.e., character, numeric, integer, factor, and logical) of the variables in the
data set. If variables are not in the correct data type, apply proper type conversions.
6. Turn categorical variables into quantitative variables in Python.
In addition to the codes and outputs, explain every operation that you do in the above steps and
explain everything that you do to import/read/scrape the data set.

In [41]:
import pandas as pd

In [42]:
df = pd.read_csv('melb_data.csv')
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [43]:
for col in df:
    print(col,":\n",df[col].describe())
    print()

Suburb :
 count         13580
unique          314
top       Reservoir
freq            359
Name: Suburb, dtype: object

Address :
 count                13580
unique               13378
top       36 Aberfeldie St
freq                     3
Name: Address, dtype: object

Rooms :
 count    13580.000000
mean         2.937997
std          0.955748
min          1.000000
25%          2.000000
50%          3.000000
75%          3.000000
max         10.000000
Name: Rooms, dtype: float64

Type :
 count     13580
unique        3
top           h
freq       9449
Name: Type, dtype: object

Price :
 count    1.358000e+04
mean     1.075684e+06
std      6.393107e+05
min      8.500000e+04
25%      6.500000e+05
50%      9.030000e+05
75%      1.330000e+06
max      9.000000e+06
Name: Price, dtype: float64

Method :
 count     13580
unique        5
top           S
freq       9022
Name: Method, dtype: object

SellerG :
 count      13580
unique       268
top       Nelson
freq        1565
Name: SellerG, dtype: object

Date :
 count          13580
unique            58
top       27/05/2017
freq             473
Name: Date, dtype: object

Distance :
 count    13580.000000
mean        10.137776
std          5.868725
min          0.000000
25%          6.100000
50%          9.200000
75%         13.000000
max         48.100000
Name: Distance, dtype: float64

Postcode :
 count    13580.000000
mean      3105.301915
std         90.676964
min       3000.000000
25%       3044.000000
50%       3084.000000
75%       3148.000000
max       3977.000000
Name: Postcode, dtype: float64

Bedroom2 :
 count    13580.000000
mean         2.914728
std          0.965921
min          0.000000
25%          2.000000
50%          3.000000
75%          3.000000
max         20.000000
Name: Bedroom2, dtype: float64

Bathroom :
 count    13580.000000
mean         1.534242
std          0.691712
min          0.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          8.000000
Name: Bathroom, dtype: float64

Car :
 count    13518.000000
mean         1.610075
std          0.962634
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max         10.000000
Name: Car, dtype: float64

Landsize :
 count     13580.000000
mean        558.416127
std        3990.669241
min           0.000000
25%         177.000000
50%         440.000000
75%         651.000000
max      433014.000000
Name: Landsize, dtype: float64

BuildingArea :
 count     7130.000000
mean       151.967650
std        541.014538
min          0.000000
25%         93.000000
50%        126.000000
75%        174.000000
max      44515.000000
Name: BuildingArea, dtype: float64

YearBuilt :
 count    8205.000000
mean     1964.684217
std        37.273762
min      1196.000000
25%      1940.000000
50%      1970.000000
75%      1999.000000
max      2018.000000
Name: YearBuilt, dtype: float64

CouncilArea :
 count        12211
unique          33
top       Moreland
freq          1163
Name: CouncilArea, dtype: object

Lattitude :
 count    13580.000000
mean       -37.809203
std          0.079260
min        -38.182550
25%        -37.856822
50%        -37.802355
75%        -37.756400
max        -37.408530
Name: Lattitude, dtype: float64

Longtitude :
 count    13580.000000
mean       144.995216
std          0.103916
min        144.431810
25%        144.929600
50%        145.000100
75%        145.058305
max        145.526350
Name: Longtitude, dtype: float64

Regionname :
 count                     13580
unique                        8
top       Southern Metropolitan
freq                       4695
Name: Regionname, dtype: object

Propertycount :
 count    13580.000000
mean      7454.417378
std       4378.581772
min        249.000000
25%       4380.000000
50%       6555.000000
75%      10331.000000
max      21650.000000
Name: Propertycount, dtype: float64

In [44]:
print("No of Dimensions",df.ndim)
print("Shape",df.shape) # Dimentionality
print("Size",df.size) #Number of elements in Dataset
print("Types: ",df.dtypes) #datatypes

No of Dimensions 2
Shape (13580, 21)
Size 285180
Types:  Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [45]:
for col in df:
    print(col,": ",any(df[col].isna()))

Suburb :  False
Address :  False
Rooms :  False
Type :  False
Price :  False
Method :  False
SellerG :  False
Date :  False
Distance :  False
Postcode :  False
Bedroom2 :  False
Bathroom :  False
Car :  True
Landsize :  False
BuildingArea :  True
YearBuilt :  True
CouncilArea :  True
Lattitude :  False
Longtitude :  False
Regionname :  False
Propertycount :  False

In [46]:
for col in df:
    if df[col].dtype!=object:
        df[col].fillna(df[col].mean(),inplace = True)
    else:
        df[col].fillna(df[col].mode()[0],inplace = True)
for col in df:
    print(col,": ",any(df[col].isna()))

Suburb :  False
Address :  False
Rooms :  False
Type :  False
Price :  False
Method :  False
SellerG :  False
Date :  False
Distance :  False
Postcode :  False
Bedroom2 :  False
Bathroom :  False
Car :  False
Landsize :  False
BuildingArea :  False
YearBuilt :  False
CouncilArea :  False
Lattitude :  False
Longtitude :  False
Regionname :  False
Propertycount :  False

In [47]:

for col in df:
    if str(df[col].dtype) == 'int64' or str(df[col].dtype) == 'float64':
        maxi = max(df[col])
        mini = min(df[col])
        df[col] = df[col].apply(lambda x: (x-mini)/(maxi-mini))
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,0.111111,h,0.156478,S,Biggin,3/12/2016,0.051975,0.068577,...,0.125,0.1,0.000466,0.003414,0.935139,Yarra,0.494755,0.517651,Northern Metropolitan,0.176160
1,Abbotsford,25 Bloomburg St,0.111111,h,0.106562,S,Biggin,4/02/2016,0.051975,0.068577,...,0.125,0.0,0.000360,0.001775,0.856448,Yarra,0.484031,0.513083,Northern Metropolitan,0.176160
2,Abbotsford,5 Charles St,0.222222,h,0.154795,SP,Biggin,4/03/2017,0.051975,0.068577,...,0.250,0.0,0.000309,0.003370,0.856448,Yarra,0.482223,0.513997,Northern Metropolitan,0.176160
3,Abbotsford,40 Federation La,0.222222,h,0.085810,PI,Biggin,4/03/2017,0.051975,0.068577,...,0.250,0.1,0.000217,0.003414,0.935139,Yarra,0.498243,0.516281,Northern Metropolitan,0.176160
4,Abbotsford,55a Park St,0.333333,h,0.169938,VB,Nelson,4/06/2016,0.051975,0.068577,...,0.125,0.2,0.000277,0.003190,0.995134,Yarra,0.484936,0.513723,Northern Metropolitan,0.176160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,0.333333,h,0.130118,S,Barry,26/08/2017,0.347193,0.153531,...,0.250,0.2,0.001506,0.003414,0.954988,Moreland,0.357781,0.672246,South-Eastern Metropolitan,0.333769
13576,Williamstown,77 Merrett Dr,0.222222,h,0.106113,SP,Williams,26/08/2017,0.141372,0.016377,...,0.250,0.2,0.000769,0.002988,0.972019,Moreland,0.417664,0.408601,Western Metropolitan,0.286482
13577,Williamstown,83 Power St,0.222222,h,0.121705,S,Raine,26/08/2017,0.141372,0.016377,...,0.250,0.4,0.001007,0.003414,0.974453,Moreland,0.426100,0.416221,Western Metropolitan,0.286482
13578,Williamstown,96 Verdon St,0.333333,h,0.270892,PI,Sweeney,26/08/2017,0.141372,0.016377,...,0.125,0.5,0.002000,0.003527,0.880779,Moreland,0.417909,0.421346,Western Metropolitan,0.286482
13579,Yarraville,6 Agnes St,0.333333,h,0.134605,SP,Village,26/08/2017,0.130977,0.013306,...,0.125,0.1,0.000836,0.002516,0.880779,Moreland,0.478889,0.413580,Western Metropolitan,0.294098

In [48]:
#converting categorical to quantitative 

print("*Converting Categorical to Quantitative*")
df = pd.get_dummies(df, columns=['Type','Method'])
print(df)

# for col in df:
#     if df[col].dtype == 'object' and len(df[col].unique())<=10 and (col not in ['Date','YearBuilt','Address']):
#         keys = df[col].unique()
#         values = range(0,len(keys))
#         d = dict(zip(keys, values))
#         print(d)
#         categories = [d[x] for x in df[col]]
#         df[col] = categories
# df

*Converting Categorical to Quantitative*
              Suburb           Address     Rooms     Price   SellerG  \
0         Abbotsford      85 Turner St  0.111111  0.156478    Biggin
1         Abbotsford   25 Bloomburg St  0.111111  0.106562    Biggin
2         Abbotsford      5 Charles St  0.222222  0.154795    Biggin
3         Abbotsford  40 Federation La  0.222222  0.085810    Biggin
4         Abbotsford       55a Park St  0.333333  0.169938    Nelson
...              ...               ...       ...       ...       ...
13575  Wheelers Hill      12 Strada Cr  0.333333  0.130118     Barry
13576   Williamstown     77 Merrett Dr  0.222222  0.106113  Williams
13577   Williamstown       83 Power St  0.222222  0.121705     Raine
13578   Williamstown      96 Verdon St  0.333333  0.270892   Sweeney
13579     Yarraville        6 Agnes St  0.333333  0.134605   Village

             Date  Distance  Postcode  Bedroom2  Bathroom  ...  \
0       3/12/2016  0.051975  0.068577      0.10     0.125  ...
1       4/02/2016  0.051975  0.068577      0.10     0.125  ...
2       4/03/2017  0.051975  0.068577      0.15     0.250  ...
3       4/03/2017  0.051975  0.068577      0.15     0.250  ...
4       4/06/2016  0.051975  0.068577      0.15     0.125  ...
...           ...       ...       ...       ...       ...  ...
13575  26/08/2017  0.347193  0.153531      0.20     0.250  ...
13576  26/08/2017  0.141372  0.016377      0.15     0.250  ...
13577  26/08/2017  0.141372  0.016377      0.15     0.250  ...
13578  26/08/2017  0.141372  0.016377      0.20     0.125  ...
13579  26/08/2017  0.130977  0.013306      0.20     0.125  ...

                       Regionname  Propertycount  Type_h  Type_t Type_u  \
0           Northern Metropolitan       0.176160       1       0      0
1           Northern Metropolitan       0.176160       1       0      0
2           Northern Metropolitan       0.176160       1       0      0
3           Northern Metropolitan       0.176160       1       0      0
4           Northern Metropolitan       0.176160       1       0      0
...                           ...            ...     ...     ...    ...
13575  South-Eastern Metropolitan       0.333769       1       0      0
13576        Western Metropolitan       0.286482       1       0      0
13577        Western Metropolitan       0.286482       1       0      0
13578        Western Metropolitan       0.286482       1       0      0
13579        Western Metropolitan       0.294098       1       0      0

       Method_PI  Method_S Method_SA  Method_SP  Method_VB
0              0         1         0          0          0
1              0         1         0          0          0
2              0         0         0          1          0
3              1         0         0          0          0
4              0         0         0          0          1
...          ...       ...       ...        ...        ...
13575          0         1         0          0          0
13576          0         0         0          1          0
13577          0         1         0          0          0
13578          1         0         0          0          0
13579          0         0         0          1          0

[13580 rows x 27 columns]

In [49]:
df.to_csv('Output.csv')
print("file saved")

file saved